body {
    font-family: "Raleway", Tahoma, Geneva, sans-serif;
    font-size: 1.25em;
    margin: 0;
    background-color: #00697c;
    color: #F2F2F2;
}

input {
    height: 1.5em;
    width: 95%;
    max-width: 18em;
    display: block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #E0E0E0;
    background: transparent;
}

input[type="file"] {
    border: 0;
}

input[type="submit"] {
    margin: 1.5em 0;
    background-color:#4DB6AC;
    border:.1em solid #4DB6AC;
    border-radius:.4em;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1em;
    font-weight:700;
    height:3em;
    letter-spacing:.1em;
    line-height:3em;
    padding:0 2em;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    white-space:nowrap;
    width: 12em;
}

textarea {
    display: block;
    width: 95%;
    max-width: 40em;
    height: 15em;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #757575;
}

select {
    font-size: inherit;
    height: 1.5em;
    width: 95%;
    max-width: 18em;
    display: block;
}

.errors {
    font-size: 1em;
    color: #EF5350;
}

.view {
    width: 100vw;
}

.content {
    position: absolute;
    margin-top: 22vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 30em;
    width: 90vw;
}

@media (max-width: 80em) {
    
}

#id_special {
    display: inline;
    width: 1.1em;
    vertical-align: text-bottom;
}

#proof {
    display: none;
}

.logo {
    width: 30%;
    height: auto;
    display: block;
    margin: 1em auto;
}