<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/camp/2016/static/signup/signup.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,800" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="view">
        <div class="content" id="content1">
            <img class="logo" src="/camp/2016/static/logo.png" />
            <h2>台大資管營</h2>
            <form action="/camp/2016/signup/" enctype="multipart/form-data" method="post">
            {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    <p>{{ form.name.label_tag }} <span class="errors">{{ form.name.errors.as_text }} </span></p>
                    {% if form.name.help_text %}
                        <p class="help">{{ form.name.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.name }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.gender.label_tag }} <span class="errors">{{ form.gender.errors.as_text }} </span></p>
                    {% if form.gender.help_text %}
                        <p class="help">{{ form.gender.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.gender }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.birthday.label_tag }} <span class="errors">{{ form.birthday.errors.as_text }} </span></p>
                    {% if form.birthday.help_text %}
                        <p class="help">{{ form.birthday.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.birthday }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.ssn.label_tag }} <span class="errors">{{ form.ssn.errors.as_text }} </span></p>
                    {% if form.ssn.help_text %}
                        <p class="help">{{ form.ssn.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.ssn }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.phone.label_tag }} <span class="errors">{{ form.phone.errors.as_text }} </span></p>
                    {% if form.phone.help_text %}
                        <p class="help">{{ form.phone.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.phone }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.email.label_tag }} <span class="errors">{{ form.email.errors.as_text }} </span></p>
                    {% if form.email.help_text %}
                        <p class="help">{{ form.email.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.email }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.address.label_tag }} <span class="errors">{{ form.address.errors.as_text }} </span></p>
                    {% if form.address.help_text %}
                        <p class="help">{{ form.address.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.address }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.contact.label_tag }} <span class="errors">{{ form.contact.errors.as_text }} </span></p>
                    {% if form.contact.help_text %}
                        <p class="help">{{ form.contact.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.contact }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.contact_phone.label_tag }} <span class="errors">{{ form.contact_phone.errors.as_text }} </span></p>
                    {% if form.contact_phone.help_text %}
                        <p class="help">{{ form.contact_phone.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.contact_phone }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.blood.label_tag }} <span class="errors">{{ form.blood.errors.as_text }} </span></p>
                    {% if form.blood.help_text %}
                        <p class="help">{{ form.blood.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.blood }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.food.label_tag }} <span class="errors">{{ form.food.errors.as_text }} </span></p>
                    {% if form.food.help_text %}
                        <p class="help">{{ form.food.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.food }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.allergy.label_tag }} <span class="errors">{{ form.allergy.errors.as_text }} </span></p>
                    {% if form.allergy.help_text %}
                        <p class="help">{{ form.allergy.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.allergy }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.medical.label_tag }} <span class="errors">{{ form.medical.errors.as_text }} </span></p>
                    {% if form.medical.help_text %}
                        <p class="help">{{ form.medical.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.medical }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.size.label_tag }} <span class="errors">{{ form.size.errors.as_text }} </span></p>
                    {% if form.size.help_text %}
                        <p class="help">{{ form.size.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.size }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.school.label_tag }} <span class="errors">{{ form.school.errors.as_text }} </span></p>
                    {% if form.school.help_text %}
                        <p class="help">{{ form.school.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.school }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.grade.label_tag }} <span class="errors">{{ form.grade.errors.as_text }} </span></p>
                    {% if form.grade.help_text %}
                        <p class="help">{{ form.grade.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.grade }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.mugshot.label_tag }} <span class="errors">{{ form.mugshot.errors.as_text }} </span></p>
                    {% if form.mugshot.help_text %}
                        <p class="help">{{ form.mugshot.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.mugshot }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.lifeshot.label_tag }} <span class="errors">{{ form.lifeshot.errors.as_text }} </span></p>
                    {% if form.lifeshot.help_text %}
                        <p class="help">{{ form.lifeshot.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.lifeshot }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.interests.label_tag }} <span class="errors">{{ form.interests.errors.as_text }} </span></p>
                    {% if form.interests.help_text %}
                        <p class="help">{{ form.interests.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.interests }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.experiences.label_tag }} <span class="errors">{{ form.experiences.errors.as_text }} </span></p>
                    {% if form.experiences.help_text %}
                        <p class="help">{{ form.experiences.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.experiences }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.motivations.label_tag }} <span class="errors">{{ form.motivations.errors.as_text }} </span></p>
                    {% if form.motivations.help_text %}
                        <p class="help">{{ form.motivations.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.motivations }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.how.label_tag }} <span class="errors">{{ form.how.errors.as_text }} </span></p>
                    {% if form.how.help_text %}
                        <p class="help">{{ form.how.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.how }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <p>{{ form.group.label_tag }} <span class="errors">{{ form.group.errors.as_text }} </span></p>
                    {% if form.group.help_text %}
                        <p class="help">{{ form.group.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.group }}</p><p></p>
                </div>
                <div class="fieldWrapper">
                    <br />
                    <p>{{ form.special.label_tag }} {{ form.special }} <span class="errors">{{ form.special.errors.as_text }} </span></p>
                    {% if form.special.help_text %}
                        <p class="help">{{ form.special.help_text|safe }}</p>
                    {% endif %}
                    <p></p>
                </div>
                <div class="fieldWrapper" id="proof">
                    <p>{{ form.proof.label_tag }} <span class="errors">{{ form.proof.errors.as_text }} </span></p>
                    {% if form.proof.help_text %}
                        <p class="help">{{ form.proof.help_text|safe }}</p>
                    {% endif %}
                    <p>{{ form.proof }}</p><p></p>
                </div>
                <div class="g-recaptcha" data-sitekey="6LdrgBgTAAAAAKLxOGFaGWMrEUtqbEwq2r3eoig6" data-callback="enableBtn"></div>
                <input id="button1" type="hidden" value="ok" />
            </form>
        </div>
    </div>
    
    <script>  
        document.getElementById('id_special').onclick = function() {
            if(this.checked == true){
                document.getElementById('proof').style.display = 'block';
            }else{
                document.getElementById('proof').style.display = 'none';
            }
        };
        function enableBtn() {
            document.getElementById('button1').setAttribute('type', 'submit')
        }
    </script>
</body>
</html>