<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>2016 IMCamp Signup</title>
    <meta property="og:site_name" content="2016 IMCamp"/>
    <meta property="og:title" content="2016 IMCamp | Signup"/>
    <meta property="og:description" content="2016 臺大資訊管理營 帶領你認識資訊管理這一門跨領域的學問 在台大渡過2016的夏天"/>
    <meta property="og:image" content="http://ntu.im/camp/2016/static/logo.png">
    <meta property="og:url" content="http://ntu.im/camp/2016">
    <meta property="og:type" content="event"/>
    <meta name="description" content="2016 臺大資訊管理營 帶領你認識資訊管理這一門跨領域的學問 在台大渡過2016的夏天">
    <meta name="keywords" content="imcamp, ntu, ntu imcamp, imcamp 2016, 臺大, 台大, 資管, 資訊管理, 資管營, 資訊管理營, 台大資管營, 臺大資管營, 2016">
    <meta name="robots" content="noindex, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/camp/2016/static/signup/signup.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,800" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/camp/2016/static/favicon.png">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/camp/2016/static/signup/moment.js"></script>
    <script src="/camp/2016/static/signup/pikaday.js"></script>
</head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47570930-3', 'auto');
      ga('send', 'pageview');

    </script>
<body>
    <div class="view">
        <div class="content" id="content1">
            <a href="https://ntu.im/camp/2016/">
                <img class="logo" src="/camp/2016/static/logo.png" />
                <h2>台大資管營</h2>
            </a>
            <img src="/camp/2016/static/signup/sizes.jpg" />
        </div>
    </div>
</body>
</html>
